<!DOCTYPE html>
<html lang='ja' ng-app>
  <head>
    <meta charset='UTF-8'>
    <title>Angularの練習</title>
    <script src='http://code.angularjs.org/angular-1.0.1.min.js'></script>
    <script src='myscript.js'></script>
  </head>
  <body>
    <h1>AngularJSの練習</h1>
    <div ng-controller='mainCtrl'>
      <form novalidate name='myForm' ng-submit='addUser()'>
        <p>
          18+:
          <input type='checkbox' ng-model='user.adult' ng-true-value='adult' ng-false-value='child'>
        </p>
        <p>
          Phone:
          <input type='radio' ng-model='user.phone' value='iPhone'>iPhone
          <input type='radio' ng-model='user.phone' value='Android'>Android
        </p>
        <p>
          Memo:
          <textarea name='memo' ng-model='user.memo' ng-maxlength='140'>
          </textarea>
          <span ng-hide='myForm.memo.$error.maxlength'>{{140 - user.memo.length}}</span>
          <span ng-show='myForm.memo.$error.maxlength'>Too long!</span>
        </p>
        <p>
          <input type='submit' value='add'>
        </p>
      </form>
      <pre>{{user | json}}</pre>
    </div>
  </body>
</html>
